html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0; 
    overflow: hidden;
    padding: 0;
}

#sidebar {
    width: 20%;
}

#map-canvas { 
    width: 80%;
}

#sidebar,
#map-canvas{
    float: left;
    height: 100%;
}